# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1. R
    2. JavaScript
    3. Python
    4. Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1. ggplot
    2. numpy
    3. PyTorch

|Data Science Tools|
-----------------------------
|Spyder IDE|
|R Studio|
|Jupiter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

    Multiplication>> 15 × 15 = 225.
    Division>> 225 / 5 = 45.
    Addition>> 20 + 13 = 33.
    Subtraction>> 33 – 45 = -12

In [2]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print (a)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
b = 200/60
print (b)

3.3333333333333335

# **Objectives:**
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Arithmetic expressions in Python

## Author

Julian Manning